*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: darkslategrey;
    color: #eeee;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 48px;
    align-self: center;
}

.links{
    align-self: flex-end;
    font-size: 32px;
    text-decoration: none;
    color: #eeee;
    padding-right: 26px;
}

.links a{
    color: inherit;
    text-decoration: none;
    font-weight: 900;
}

.body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px;;
}

.form{
    display: flex;
    flex-direction: column;
    border: 2px green solid;
    align-items: stretch;
}

.plot{
    border: 1px red solid;
}

#player_list{
    width: 500px;
    border: 1px red solid;
}

.form1{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.submit{
    padding: 20px;
    width: 200px;
}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;;
}

.options{
    font-size: 24px;
}

