<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../static/styles.css" rel="stylesheet">  
</head>
<body>

    <div class="header">
        <div class="title"><p>Points Tracker</p></div>
        <div class="links">
            <a href="/">Home</a>
            <a href="dbase.html">Database</a>
            <a href="team.html">Team</a>
        </div>
    </div>
    <div class="body">
        <div class="plot">
            <div>
            <img src="../static/plot.jpg">
            </div>
        </div>
        <div class="form">
            <form method="POST" class="form1"> 
                <select name="players" size="5" id="player_list">
                    {% for team in teams %}
                        <option class="team_name" disabled> {{ team }} </option>
                        {% for player in player_list %}
                            {% if player[1] == team %}
                                <option class="options" value="{{ player[0] }}">{{ player[0] }} | {{ player[1] }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <div class="check">
                    <div>Add Total Points Line Graph?<input type="checkbox" name="addOn"></div>
                    <div><button class="submit" type="submit" name="submit">Submit</button></div>
                </div>
            </form>
            <div><a href="/"><button class="reset" name="reset" value="reset">Reset</button></a></div>
        </div>
    </div>
    <div class="footer">
        <div class="copy">Copyright &copy Chigzzer</div>
    </div>
</body>
</html>