<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="dbase.html">link</a>
    <div class="body">
        <div class="form">
            <form method="POST"> 
                Add Total Points Line Graph? <input type="checkbox" name="addOn">
                <select name="players" size="50">
                    {% for player in player_list %}
                    <option value="{{ player }}" selected>{{ player }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="submit">Submit</button>
            </form>
        </div>
        <div class="plot">
            <img src="../static/plot.jpg">
        </div>
    </div>
</body>
</html>