{% extends "template.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
    </div>
    <div class="body">
        <div class="plot">
            <div>
            <img src="/static/plot.jpg">
            </div>
        </div>
        <div class="form">
            <form method="POST" class="form1"> 
                <select name="players" size="5" id="player_list">
                    {% for team in teams %}
                        <option class="team_name" disabled> {{ team }} </option>
                        {% for player in playerList %}
                            {% if player[1] == team %}
                                <option class="options" value="{{ player[0] }}">{{ player[0] }} | {{ player[1] }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <div class="check">
                    <div>Add Total Points Line Graph?</div>
                    <div><input type="checkbox" name="addOn"></div>
                </div>
                <div><button class="submit" type="submit" name="submit">Submit</button></div>
            </form>
            <div><a href="/"><button class="reset" name="reset" value="reset">Reset</button></a></div>
        </div>
    </div>
{% endblock %}
