{% extends "template.html" %}


{% block title %}
    <title>Team</title>
    <script src="../static/javascript.js"></script>
{% endblock %}

{% block body %}
</div>
<div class="body">
    <div class="plot">
        <div>
        <img src="/static/plot.jpg">
        </div>
    </div>
    <div class="form">
        <form action="/teamSelected" method="POST" class="form2"> 
            <select name="players" size="5" id="player_list" style="width: 450px;">
                <option class="options" disabled selected>Your Players:</option>
                {% for player in player_list %}
                    <option class="options" value="{{player}}">{{ player }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="teamID" id="teamID" value="{{teamID}}">
            <div class="check">
                <div>Add Total Points Line Graph?</div>
                <div><input type="checkbox" name="addOn"></div>
            </div>
            <div><button class="submit" type="submit" name="submit">Submit</button></div>
        </form>
        <form action="/teamSelect" method="POST" class="form3">
            <input type="hidden" name="teamID" id="teamID" value="{{teamID}}">
            <button class="submit" name="reset" value="reset">Reset</button>
        </form>
    </div>
</div>
{% endblock %}
