{% extends "template.html" %}


{% block title %}
    <title>Team</title>
    <script src="../static/javascript.js"></script>
{% endblock %}

{% block body %}
    <div class="teamForm">
    <form method="POST" class="teamForm">
        <label for="teamID">What is your Team ID</label>
        <input id='teamID' name="teamID" type="text">
    </form>
    </div>
    <div class="idGuide">
        <div class="guideQ">
            <a onclick="showInstructions();" style="cursor: pointer; cursor: hand;"> Click me to show how to find your team ID</a>
        </div>
        <div class="instructions" id="instructions">
            <p> Test to see if I can hide</p>
        </div>
    </div>
{% endblock %}
